@import url("https://fonts.cdnfonts.com/css/formular");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Formular", sans-serif;
}

/* Variables */
:root {
  --color-white: #fff;
  --color-red: #ff2d23;
  --color-black_light: #2c2e3e;
  --color-black_dark: #1e2030;
  --color-gray_light: #8f95ac;
}

header {
  padding: 15px 65px;
  background-color: var(--color-black_light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate {
  width: 100%;
  padding: 0px 3%;
}

.navigate_list {
  display: flex;
  color: var(--color-white);
  list-style-type: none;
  align-items: center;
}

.navigate_list > * {
  box-sizing: border-box;
  padding: 10px 21px;
}

.navigate_list > *:hover {
  background-color: var(--color-gray_light);
  cursor: pointer;

  border-radius: 32.5px;
}

.header_button {
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
  padding: 14px 31px;
  border-radius: 32.5px;
}

.header_button:hover {
  box-shadow: 0px 10px 20px 0px rgba(255, 45, 35, 0.3);
  cursor: pointer;
}


/* Footer */

.footer{
  display: flex;
  justify-content: space-between;
  padding: 38.5px 190px;
}
.footer_address{
  max-width: 286px;
  color: var(--color-black_light);
  font-size: 14px;
  font-weight: 400;
}

.footer_tel{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: var(--color-black_light);
}

.footer_email{
  color: var(--color-red);
  text-underline-offset: 4px;
  font-size: 14px;
  font-weight: 400;
}
